/* player css */

.player {
  color: #fff;
  background-color: #111;
  padding-top: 10px;
  padding-bottom: 5px;
}

#playerProgressBar {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.player-controls {
  display: flex;
}

/* Mobile */
@media screen and (max-width: 500px) {
  .player-controls {
    display: block;
  }

  #playerControls_L {
    margin-right: 0;
  }
}

#playerControls_R {
  margin-top: 8px;
}

#playerControls_L {
  margin-right: auto;
}

#playerControls_L span {
  cursor: pointer;
  margin-right: 10px;
}

#volumeUp, #volumeDown {
  cursor: pointer;
}

#playButton {
  font-size: 23px;
}

#repeatButton {
  font-size: 15px;
}

#songLike {
  margin-right: 15px;
}

#songLike i {
  cursor: pointer;
}

#songTime {
  margin-right: 15px;
}