/* music app css */

.page-content {
  color: #eee;
  background-color: #333;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

/* Mobile */
@media screen and (max-width: 500px) {
  .page-content {
    padding-bottom: 100px;
  }
}