<h1>Songs</h1>

<div class="media">
  <img class="d-flex mr-3 thumb-64" src="/assets/img/song.jpg" alt="New Hit Song">
  <div class="media-body">
    <h5 class="mt-0"><a href="#"><strong>New Hit Song</strong></a> <small class="text-muted">Album Name</small></h5>
    <p class="mb-0">Great Musician Ft. Another Great, Yet Another</p>
    <div class="song-list-item-actions">
      <a href=""><i class="fa fa-play"></i> play</a>
      <a href=""><i class="fa fa-heart-o"></i> like</a>
    </div>
  </div>
</div>