<h1>Albums</h1>

<div class="row">
  <div class="col-md-3">
    <div class="card bg-vybe-dark">
      <img class="card-img-top img-fluid" src="/assets/img/album.jpg" alt="New Great Album">
      <div class="card-block">
        <p class="card-text"><a href="#"><strong>New Great Album</strong></a> Nice Artist, 10 songs.</p>
        <div class="text-right">
          <a href="#" class="card-link"><i class="fa fa-play"></i></a>
          <a href="#" class="card-link"><i class="fa fa-heart-o"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>